.body {
    text-align: center;
}

@keyframes bounceIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    60% {
        transform: translateY(10%);
        opacity: 1;
    }
    80% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}

.img1 {
    animation: bounceIn 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    width: 700px;
    height: auto;
}

.img2 {
    width: 800px;
    height: auto;
}

.img3 {
    width: 500px;
    height: auto;
}

body {
    background-color: #70B237;
    font-family: Verdana, sans-serif;
    margin: 100px;
}

.container {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
}

div {
    font-family: Verdana, sans-serif;
}

.img-link {
    width: 600px;
    height: auto;
    border: 3px solid white;
}

.top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: auto;
}

.isl-img {
    border: 3px solid white;
}

.walkthrough {
    width: 1000px;
    height: auto;
    border: 3px solid white;
}

.welcome {
    width: 1100px;
    height: auto;
    border: 3px solid white;
}

p {
    line-height: 2;
}

.p1 {
    line-height: 1.5;
    margin-bottom: 0;
}

.schema {
    width: 500px;
    height: auto;
}
